.background-image {
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    text-align: center;
}


.hero-section::before {
    content: "";
  }
  
  .hero-section > * {
    position: relative;
    z-index: 2;
  }